#vscode
.vscode/
#pycache
.pytest_cache/
__pycache__/
.flask_session/
.spotify_caches/
.flask_session/
.spotify_caches/
Prototypes/
.vscode/
.pytest_cache/
__pycache__/
config.ini
# Environments
/env
*.env
*.venv
env/
venv/
ENV/
env.bak/
venv.bak/
config.ini
DBproducts/*
makerapperslist.py