<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
        <script src="https://kit.fontawesome.com/75ff20203d.js" crossorigin="anonymous"></script>
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Saira:wght@300;500&display=swap" rel="stylesheet">


        <!-- Footer --> 
        <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <link rel="stylesheet" href="../static/stylesheets/footer.css">


        <!-- Javascript:  JQuery from a content distribution network (CDN) -->
        <script
        src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js">
        </script>
        <link rel="stylesheet" href="../static/stylesheets/style.css">
    </head>


<body>
    <header>
        <div class="nav-menu"> 
            <div class="bar top"></div> <!--top bar of menu-->
            <div class="bar"></div>     <!--mid bar of menu-->
            <div class="bar bot"></div> <!--bottom bar of menu-->
        </div>
        <nav class="top-nav">
            <ul class="nav-list">

                <li class="nav-item">
                    <a href="/" class="nav-link">Home</a>
                </li>

                <li class="nav-item">
                    <a href="#Home" class="nav-link">About</a>
                </li>
                
                <li class="nav-item">
                    <a href="/spotify_login" class="nav-link">MySpotify</a>
                </li>

                <li class="nav-social"> 
                    <div class="socials">
                        <a href="https://github.com/alexmarozick/RapAnalysis/" class="icon-link" target="_blank">
                            <i class="fa fa-github" aria-hidden="true"></i>
                        </a>
                    </div>
                </li>

            </ul>
                <label class="switch">
                    <input type="checkbox" id="checkbox" />
                    <span class="slider"></span>
                </label>
        </nav>  
    </header>      

    <main>
        <section  id="About">
            <h1 class="header-section">About</h1>
            <br>
            <div class="about-text">
                This project is centralized around our algorithm for what is called a rhyme scheme analysis. <br><br>

                A rhyme scheme is defined as the pattern according to which end rhymes (rhymes located at the end of lines) are repeated in works poetry.
                With this webapp we are applying this analysis to rap music. <br><br>


                We hope to make this more interesting to the user by making it possible for them to link this 
                with their spotify account so they can access the songs in which they listen to regularly and 
                more accessible by presenting them with a version in which they dont have to access a spotify
                account as not all people will have one.
            </div>
            
        </section>

    </main>


 <!-- footer -->
    <div class="footer-container">
        <div class="footer">
            <div class="footer-heading footer-1">
                <h3>Abdurraheem Elfandi</h3>
                <a href="https://github.com/Abduarraheem" class="contact-icon" target="_blank">
                    <i class="fa fa-github" aria-hidden="true"></i>
                </a>
                <a class="email-link" href="mailto:elfandi.a23@gmail.com">elfandi.a23@gmail.com</a>
            </div>

            <div class="footer-heading footer-2">
                <h3>Alex Marozick</h3>
                <a href="https://github.com/alexmarozick" class="contact-icon" target="_blank">
                    <i class="fa fa-github" aria-hidden="true"></i>
                </a>
                <a href="https://www.linkedin.com/in/alex-marozick-290b85195/" class="contact-icon" target="_blank">
                    <i class="fa fa-linkedin-square" aria-hidden="true"></i>
                </a>
                <a class="email-link" href="mailto:alexmarozick@gmail.com">alexmarozick@gmail.com</a>        
            </div>
            
            <div class="footer-heading footer-3">
                <h3>Juno Mayer</h3>
                <a href="https://github.com/Saybrr" class="contact-icon" target="_blank">
                    <i class="fa fa-github" aria-hidden="true"></i>
                </a>
                <a href="https://www.linkedin.com/in/juno-mayer-b50a441a2/" class="contact-icon" target="_blank">
                    <i class="fa fa-linkedin-square" aria-hidden="true"></i>
                </a>
                <a class="email-link" href="mailto:gjvmayer@gmail.com"> gjvmayer@gmail.com</a>
            </div>
        </div>
    </div>
    <script src="../static/JSscripts/main.js"></script>
</body>

</html>