<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
        <script src="https://kit.fontawesome.com/75ff20203d.js" crossorigin="anonymous"></script>
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Saira:wght@300;500&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="../static/stylesheets/style.css">
        <link rel="stylesheet" href="../static/stylesheets/footer.css">


        <!-- Javascript:  JQuery from a content distribution network (CDN) -->
        <script
        src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js">
        </script>

        <title>Rhyme Scheme Analysis</title>
    </head>


<body>
    <div class="nav-menu"> 
        <div class="bar top"></div> <!--top bar of menu-->
        <div class="bar"></div>     <!--mid bar of menu-->
        <div class="bar bot"></div> <!--bottom bar of menu-->
    </div>
    
    <nav class="top-nav">
        <ul class="nav-list">

            <li class="nav-item">
                <a href="#Home" class="nav-link">Home</a>
            </li>

            <li class="nav-item">
                <a href="/about" class="nav-link">About</a>
            </li>
            
            <li class="nav-item">
                <a href="/spotify_login" class="nav-link">MySpotify</a>
            </li>

            <li class="nav-social"> 
                <div class="socials">
                    <a href="https://github.com/alexmarozick/RapAnalysis/" class="icon-link" target="_blank">
                        <i class="fa fa-github" aria-hidden="true"></i>
                    </a>
                </div>
            </li>

        </ul>
            <label class="switch">
                <input type="checkbox" id="checkbox" />
                <span class="slider"></span>
            </label>
    </nav>

    <main>
        <h1 class="title" id="Home">Rap Lyric Analysis</h1>
        <br>

        <form method="POST" action="/get-lyrics" enctype="multipart/form-data">
            <label for="sname" id="sname">Song name:</label><br>
            <input class="song" type="text" name="song" id="song" placeholder="Type song name here">
            <label for="sartist" id="sartist">Artist name:</label><br>
            <input class="artist" type="text" name="artist" id="artist" placeholder="Type artist name here">
            <input class="btn" type="submit" name="Submit" value="Submit" id="submit-btn">
        </form>
        <br>

        <!-- ajax for submit button-->
        <script type=text/javascript>
            $(function() {
                $('#submit-btn').click(function(){
                  $.ajax({
                    url: '/get-lyrics',
                    data:{
                      song: $('#song').val(),
                      artist: $('#artist').val()
                    },
                    dataType: 'JSON',
                    type: 'GET',
                    // below is what is returned.. lyrics should be within data
                    success: function(data){
                        $("#result").html(data.result); <!--TODO put the keyname of the computer lyrics into the result text box -->
                    }
                    });
                });
            });
        </script>
        <!-- end of ajax -->

        <div class="output-box">
            <div class="wrapper">
               Lyrics should be here after the submit button if you inserted a valid song name and artist name
               <span id="result">?</span>  
            </div>
        </div>
    </main>

    <!-- footer -->
    <div class="footer-container">
        <div class="footer">
            <div class="footer-heading footer-1">
                <h3>Abdurraheam Elfandi</h3>
                <a href="https://github.com/Abduarraheem" class="contact-icon" target="_blank">
                    <i class="fa fa-github" aria-hidden="true"></i>
                </a>
                <br>
                <a class="email-link" href="mailto:elfandi.a23@gmail.com">elfandi.a23@gmail.com</a>
            </div>

            <div class="footer-heading footer-2">
                <h3>Alex Marozick</h3>
                <a href="https://github.com/alexmarozick" class="contact-icon" target="_blank">
                    <i class="fa fa-github" aria-hidden="true"></i>
                </a>
                <a href="https://www.linkedin.com/in/alex-marozick-290b85195/" class="contact-icon" target="_blank">
                    <i class="fa fa-linkedin-square" aria-hidden="true"></i>
                </a>
                <a class="email-link" href="mailto:alexmarozick@gmail.com">alexmarozick@gmail.com</a>        
            </div>
            
            <div class="footer-heading footer-3">
                <h3>Juno Mayer</h3>
                <a href="https://github.com/Saybrr" class="contact-icon" target="_blank">
                    <i class="fa fa-github" aria-hidden="true"></i>
                </a>
                <a href="https://www.linkedin.com/in/juno-mayer-b50a441a2/" class="contact-icon" target="_blank">
                    <i class="fa fa-linkedin-square" aria-hidden="true"></i>
                </a>
                <a class="email-link" href="mailto:gjvmayer@gmail.com"> gjvmayer@gmail.com</a>
            </div>
        </div>
    </div>


<script src="../static/JSscripts/main.js"></script>
</body>

</html>