<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        
        <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
        <script src="https://kit.fontawesome.com/75ff20203d.js" crossorigin="anonymous"></script>
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Saira:wght@300;500&display=swap" rel="stylesheet">
    
        <link rel="stylesheet" href="../static/stylesheets/spotify_login.css">

        <script
        src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js">
        </script>
</head>


<body>

    <!-- Nav bar stuff -->
    <div class="nav-menu"> 
        <div class="bar top"></div> <!--top bar of menu-->
        <div class="bar"></div>     <!--mid bar of menu-->
        <div class="bar bot"></div> <!--bottom bar of menu-->
    </div>
    <nav class="top-nav">
        <ul class="nav-list">

            <li class="nav-item">
                <a href="/" class="nav-link">Home</a>
            </li>

            <li class="nav-item">
                <a href="/about" class="nav-link">About</a>
            </li>
            
            <li class="nav-item">
                <a href="#Home" class="nav-link">MySpotify</a>
            </li>

            <li class="nav-social"> 
                <div class="socials">
                    <a href="https://github.com/alexmarozick/RapAnalysis/" class="icon-link" target="_blank">
                        <i class="fa fa-github" aria-hidden="true"></i>
                    </a>
                </div>
            </li>

        </ul>
            <label class="switch">
                <input type="checkbox" id="checkbox" />
                <span class="slider"></span>
            </label>
    </nav>



<main>
    <!-- <div id="title">
        <h1>My Spotify</h1>
    </div> -->

    <div class="spacing-ends"> </div>
    <div id="left-side">
            <!-- Slideshow stuff -->
        <div class="slideshow-container" id="slideshowID">

            <div class="mySlides fade">
                <!-- <div class="numbertext">2 / 11</div> -->
                <img src="../static/images/chance.jpg" style="width:100%">
                <div class="text">Chance The Rapper</div>
            </div>

            <div class="mySlides fade">
                <!-- <div class="numbertext">4 / 11</div> -->
                <img src="../static/images/snoop.jpg" style="width:100%">
                <div class="text">Snoop Dogg</div>
            </div>

            <div class="mySlides fade">
                <!-- <div class="numbertext">5 / 11</div> -->
                <img src="../static/images/singing.jpg" style="width:100%">
                <div class="text"></div>
            </div>

            <div class="mySlides fade">
                <!-- <div class="numbertext">6 / 11</div> -->
                <img src="../static/images/XXX.jpg" style="width:100%">
                <div class="text">XXX Tentacion</div>
            </div>

            <div class="mySlides fade">
                <!-- <div class="numbertext">7 / 11</div> -->
                <img src="../static/images/drake.jpg" style="width:100%">
                <div class="text">Drake</div>
            </div>

            <div class="mySlides fade">
                <!-- <div class="numbertext">8 / 11</div> -->
                <img src="../static/images/jayZ.jpg" style="width:100%">
                <div class="text">Jay-Z</div>
            </div>

            <div class="mySlides fade">
                <!-- <div class="numbertext">9 / 11</div> -->
                <img src="../static/images/lil_wayne.jpg" style="width:100%">
                <div class="text">Lil Wayne</div>
            </div>

            <div class="mySlides fade">
                <!-- <div class="numbertext">10 / 11</div> -->
                <img src="../static/images/mac_miller.jpg" style="width:100%">
                <div class="text">Mac Miller</div>
            </div>

            <div class="mySlides fade">
                <!-- <div class="numbertext">11 / 11</div> -->
                <img src="../static/images/JCole.jpg" style="width:100%">
                <div class="text">J Cole</div>
            </div>
        </div>
    </div>

    <div id="spacing"></div>

    <div id="right-side">
        <div id="sub-title">
            <h2>Analyze Your Favorite Rappers</h2>
        </div>

        <div class="btn-container">
            <form method="POST" action="/login-btn" enctype="multipart/form-data">
                <input class="btn" type="submit" name={{display}} value="{{display}}" id="sign-btn">
            </form>
        </div>
    </div>
    <div class="spacing-ends"> </div>
</main>











<!-- Login button -->
<br><br>
<br>

<!-- <div style="text-align:center">
  <span class="dot"></span> 
  <span class="dot"></span> 
  <span class="dot"></span> 
</div> -->

<script src="../static/JSscripts/spotify_login.js"></script>
<script src="../static/JSscripts/main.js"></script>

</body>
</html> 
