<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
        <script src="https://kit.fontawesome.com/75ff20203d.js" crossorigin="anonymous"></script>
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Saira:wght@300;500&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="../static/stylesheets/spotify.css">
        <link rel="stylesheet" href="../static/stylesheets/footer.css">
        <!-- <link rel="stylesheet" href="../static/stylesheets/style.css"> -->
        
        <!-- Javascript:  JQuery from a content distribution network (CDN) -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script src=../static/JSscripts/spotifyData.js></script>
       
    </head>


    <body>
        <!-- nav bar stuff -->
        <div class="nav-menu"> 
            <div class="bar top"></div> <!--top bar of menu-->
            <div class="bar"></div>     <!--mid bar of menu-->
            <div class="bar bot"></div> <!--bottom bar of menu-->
        </div>
        <nav class="top-nav">
            <ul class="nav-list">

                <li class="nav-item">
                    <a href="/" class="nav-link">Home</a>
                </li>

                <li class="nav-item">
                    <a href="/about" class="nav-link">About</a>
                </li>
                
                <li class="nav-item">
                    <a href="#Home" class="nav-link">MySpotify</a>
                </li>
                <li class="nav-social"> 
                    <div class="socials">
                        <a href="https://github.com/alexmarozick/RapAnalysis/" class="icon-link" target="_blank">
                            <i class="fa fa-github" aria-hidden="true"></i>
                        </a>
                    </div>
                </li>

            </ul>
                <label class="switch">
                    <input type="checkbox" id="checkbox" />
                    <span class="slider"></span>
                </label>
        </nav>

        <main>
            
            <div id="left_side"> <!--left side will be 2/3 of the page-->
                <div id="title_and_button_container"> <!-- want the title and then the button to be on the right of it -->
                    <h1 class="title" id="Home">Analyze Your Spotify</h1>
                    <div class="btn-container">
                        <form method="POST" action="/login-btn" enctype="multipart/form-data">
                        <input class="btn" type="submit" name={{display}} value="{{display}}" id="sign-btn">
                        </form>
                    </div>
                </div>
                <div class="playlist_and_recents_container">
                    <div class="playlist">
                        <div id="playlist_spacing_left">

                        </div>

                        <div id="playlistContent">
                            <h3 class="sub_title">Playlists</h3>   <!-- want title -->
                            <br>    
                            <!-- want widget embedding -->
                            <iframe id="playlistWidget" src="" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
                            <br><br>
                            <label for="playlist">Choose a playlist to analyze:</label>
                            
                            <!-- want dropdown menu -->
                            <select id="droplistP"  onchange="playlist()">
                                {% for id in playlists %}
                                <option name={{playlists[id]}} value="{{id}}">{{playlists[id]}}</option>
                                {% endfor %}
                            </select>
                            <br><br>
                            <!-- want analyze button -->
                            <a href=#><button class="btn" id="analyze-playlist">Analyze playlist</button></a>
                            <br>
                            <!-- button for tabbing through songs -->
                            <!-- TODO the two divs below just figure out how u want them combined -->
                            <div id="drop-playlist-wrapper">
                
                            </div>
                            <div id="dropPSongs"></div>
                        </div>

                        <div id="playlist_spacing_right">
                        </div>

                        <br>
                    </div>


                    <div class="spacing"></div>
                    
                    
                    <div class="recents">
                        <div id="recents_spacing_left">
                        </div>

                        <div id="recents_content">
                            <h3 class="sub_title">Recent Plays</h3>   <!-- want title -->
                            <label for="recent">Number of Recent Plays:</label>
                            <br>
                            <input class="recent" type="text" name="recent" id="recent" placeholder="Type the number of recent plays name here">
                            <a href=#><button class="btn" id=analyze-recent>Analyze Recent Plays</button></a>
                            <!-- TODO make sure its in the right spot -->
                            <div id="drop-recent-wrapper">
                    
                            </div>
                        </div>
                        <div id="recents_spacing_right">
                        </div>

                    </div>
                </div>
                
            </div>
                
                
                <!-- <div id="recent_container">
                    <div id="recents">
                        want recent dropdown ???
                        not really sure what else yet
                    </div>
                </div> -->


            <div id="right_side"> <!--right side will be 1/3 of the page-->
                <!-- 
                    we want to have tabs, one being a text box that dislays
                    text and the other will be for stats.

                    Need to do research for this
                -->
                <div id="output-box" class="output-box">
                    <div class="wrapper" id="test">  <!-- lyrical breakdown will be generated here: -->
                    Lyrics will be generated here
                    </div>
                </div>
            </div>
        </main>

        <!-- footer -->
        <div class="footer-container">
            <div class="footer">
                <div class="footer-heading footer-1">
                    <h3>Abdurraheam Elfandi</h3>
                    <a href="https://github.com/Abduarraheem" class="contact-icon" target="_blank">
                        <i class="fa fa-github" aria-hidden="true"></i>
                    </a>
                    <br>
                    <a class="email-link" href="mailto:elfandi.a23@gmail.com">elfandi.a23@gmail.com</a>
                </div>

                <div class="footer-heading footer-2">
                    <h3>Alex Marozick</h3>
                    <a href="https://github.com/alexmarozick" class="contact-icon" target="_blank">
                        <i class="fa fa-github" aria-hidden="true"></i>
                    </a>
                    <a href="https://www.linkedin.com/in/alex-marozick-290b85195/" class="contact-icon" target="_blank">
                        <i class="fa fa-linkedin-square" aria-hidden="true"></i>
                    </a>
                    <a class="email-link" href="mailto:alexmarozick@gmail.com">alexmarozick@gmail.com</a>        
                </div>
                
                <div class="footer-heading footer-3">
                    <h3>Juno Mayer</h3>
                    <a href="https://github.com/Saybrr" class="contact-icon" target="_blank">
                        <i class="fa fa-github" aria-hidden="true"></i>
                    </a>
                    <a href="https://www.linkedin.com/in/juno-mayer-b50a441a2/" class="contact-icon" target="_blank">
                        <i class="fa fa-linkedin-square" aria-hidden="true"></i>
                    </a>
                    <a class="email-link" href="mailto:gjvmayer@gmail.com"> gjvmayer@gmail.com</a>
                </div>
            </div>
        </div>

        <!-- this main.js script needs to stay here -->
        <script src="../static/JSscripts/main.js"></script>
        
    </body>
</html>