<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        
        <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
        <script src="https://kit.fontawesome.com/75ff20203d.js" crossorigin="anonymous"></script>
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Saira:wght@300;500&display=swap" rel="stylesheet">
    
        <link rel="stylesheet" href="../static/stylesheets/spotify_login.css">

        <script
        src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js">
        </script>
</head>


<body>

    <!-- Nav bar stuff -->
    <div class="nav-menu"> 
        <div class="bar top"></div> <!--top bar of menu-->
        <div class="bar"></div>     <!--mid bar of menu-->
        <div class="bar bot"></div> <!--bottom bar of menu-->
    </div>
    <nav class="top-nav">
        <ul class="nav-list">

            <li class="nav-item">
                <a href="/" class="nav-link">Home</a>
            </li>

            <li class="nav-item">
                <a href="/about" class="nav-link">About</a>
            </li>
            
            <li class="nav-item">
                <a href="#Home" class="nav-link">MySpotify</a>
            </li>

            <li class="nav-social"> 
                <div class="socials">
                    <a href="https://github.com/alexmarozick/RapAnalysis/" class="icon-link" target="_blank">
                        <i class="fa fa-github" aria-hidden="true"></i>
                    </a>
                </div>
            </li>

        </ul>
            <label class="switch">
                <input type="checkbox" id="checkbox" />
                <span class="slider"></span>
            </label>
    </nav>

<!-- Login button -->
<br><br>
<div class="btn-container">
    <form method="POST" action="/login-btn" enctype="multipart/form-data">
        <!-- <label class="btn" id="upload-label">
            <input type="file" name="gpx_file" id="originalBtn" required>
            Upload File:
            <span id="file-name">No file chosen</span>
        </label> -->
        <input class="btn" type="submit" name={{display}} value="{{display}}" id="sign-btn">
        <!-- <input class="btn" type="login" name="Login" value="Login" id="login-btn"> -->
    </form>
</div>

    <!-- Slideshow stuff -->
<div class="slideshow-container">

    <div class="mySlides fade">
    <div class="numbertext">1 / 3</div>
    <img src="../static/images/guy_with_headphone_silo.jpg" style="width:100%">
    <div class="text">Spotify</div>
    </div>

    <div class="mySlides fade">
    <div class="numbertext">2 / 3</div>
    <img src="../static/images/chance.jpg" style="width:100%">
    <div class="text">Chance The Rapper</div>
    </div>

    <div class="mySlides fade">
    <div class="numbertext">3 / 3</div>
    <img src="../static/images/eminem.jpg" style="width:100%">
    <div class="text">Eminem</div>
    </div>

    <div class="mySlides fade">
        <div class="numbertext">3 / 3</div>
        <img src="../static/images/snoop.jpg" style="width:100%">
        <div class="text">Snoop Dogg</div>
    </div>

    <div class="mySlides fade">
        <div class="numbertext">3 / 3</div>
        <img src="../static/images/singing.jpg" style="width:100%">
        <div class="text">Rapping</div>
    </div>
  
</div>
<br>

<div style="text-align:center">
  <span class="dot"></span> 
  <span class="dot"></span> 
  <span class="dot"></span> 
</div>

<script src="../static/JSscripts/spotify_login.js"></script>
<script src="../static/JSscripts/main.js"></script>

</body>
</html> 
